In [1]:
%pip install -q pandas numpy

Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.3; however, version 23.2.1 is available.
You should consider upgrading via the 'c:\Program Files (x86)\Microsoft Visual Studio\Shared\Python39_64\python.exe -m pip install --upgrade pip' command.

In [1]:
import numpy as np
import pandas as pd

In [5]:
data = pd.read_csv('logs.csv', encoding='utf-8')
data.head()

      user_id   source       email  purchase
0  7141786820    other         NaN         0
1  5644686960    email  c129aa540a         0
2  1914055396  context         NaN         0
3  4099355752    other         NaN         0
4  6032477554  context         NaN         1

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   200000 non-null  int64
 1   source    198326 non-null  object
 2   email     13953 non-null   object
 3   purchase  200000 non-null  bool
dtypes: bool(1), int64(1), object(2)
memory usage: 4.8+ MB

In [10]:
data['purchase'] = data['purchase'].astype(bool)

In [27]:
data['purchase'].value_counts()

purchase
False    187897
True      12103
Name: count, dtype: int64

In [20]:
data['source'].value_counts()

source
other      133834
context     52032
email       12279
undef         181
Name: count, dtype: int64

In [26]:
data.isna().sum()
data.iloc[22, :]

user_id     1397217221
source             NaN
email       79ac569f0b
purchase         False
Name: 22, dtype: object

In [23]:
data['source'] = data['source'].replace('None', None)
data['source'] = data['source'].replace('undef', None)

In [24]:
data['source'].value_counts()

source
other      133834
context     52032
email       12279
Name: count, dtype: int64

In [14]:
data['user_id'].value_counts()

user_id
5678294978    11
1743281508    10
9713454510    10
9798964800     9
7450740664     9
              ..
7850712396     1
7415908571     1
7875937474     1
3655904078     1
6064948744     1
Name: count, Length: 86571, dtype: int64

In [25]:
data[data['source'].isna()]['source']

22        NaN
49        NaN
171       NaN
258       NaN
379       NaN
         ...
199342    NaN
199661    NaN
199689    NaN
199709    NaN
199758    NaN
Name: source, Length: 1855, dtype: object

In [28]:
data_gb_ui = data.groupby('user_id')['purchase'].sum()

In [30]:
data_gb_ui.sort_values(ascending = False)

user_id
7370058986    4
3708073012    3
5189168982    3
922485345     3
463130195     3
             ..
3552682911    0
3552629301    0
3552349983    0
3552156723    0
9999792842    0
Name: purchase, Length: 86571, dtype: int64

In [34]:
total_installs = data.shape[0]
total_purchases = data['purchase'].sum()

total_conversion = total_purchases / total_installs

In [41]:
avoid_n = 0
unique_install = data_gb_ui.shape[0]
unique_purchases = (pd.DataFrame(data_gb_ui).query('purchase != @avoid_n').shape[0])


unique_conversion = unique_purchases / unique_install

In [45]:
print(f'Conversion: {total_conversion:.2%}')
print(f'Conversion:(uniq) {unique_conversion:.2%}')

Conversion: 6.05%
Conversion:(uniq) 13.24%